.icon-selector-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.icon-selector-row > .foldericon {
	margin-right: 5px;
	display: flex;
	border: 1px solid var(--xilinota-divider-color);
	padding: 5px;
	background-color: var(--xilinota-background-color);
}