.dropdown-control {
	border: 1px solid var(--xilinota-border-color4);
	border-radius: 3px;
	font-size: var(--xilinota-font-size)px;
	color: var(--xilinota-color);
	padding: 0 8px;
	box-sizing: border-box;
	background-color: var(--xilinota-background-color4);
	min-height: 26px;

	&.-variant2 {
		border: none;
	}
}